/*  form captcha */
.reload {
	font-family: "Lucida Sans Unicode";
}

.captcha {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}



/* Careers main page header*/
.perJob section, .careerMainHeader section {
	margin-bottom: 5em; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 40%;
}

.perJob img, .careerMainHeader img {
	margin-top: 10em; 
	height: 150px;
}


/* Careers overview on homepage */
.careerHomeHeader {
	display: flex; 
	flex-direction: row;
}

.careerHomeHeader  img {
	height: 40px; 
	width: 40px;
}

.careerHomeHeader h4 {
	margin: 10px;
}

.careerHomeDesc {
	padding-left: 31.5px; 
	margin: 20px;
}

/* More details button */
.main {
	text-align: center;
}


/* Hompeage section icons */
#career img, #services img, #projects p img, #blog img, #contact-us img{
	height: 100px;
	/* max-width: 100; */
}

.section-heading h4 {
	margin-left: 10em; 
	text-align: center;
}

.section-heading p {
	float: left; 
	text-align: center;
}

/* .section-heading p img {
	height: 20px;
	width: 20px;
} */

.news-detail.section-padding .container .row .col-lg-8.col-10.mx-auto h4 {
	padding-top: 3em;
}

.hero-container .hero-title {
	max-width: 100%;
	max-height: 100%;
	font-size: 10em;
}