body {
    background-color: white;
}

#svg {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -250px;
    margin-left: -400px;
}
img{
    width:370px;
    height:300px;
    animation: float 1s infinite ease-in-out alternate;
}
#design{
    z-index:-1;
    position:fixed;
    right:10%;
    bottom:0;

}

.message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 25%;
    left: 35%;
    margin-top: -100px;
    margin-left: 50px;
    color: #1e1e1e;
    font-family: Roboto;
    font-weight: 300;
}


.buttons-con .action-link-wrap {
    margin-top: 40px;
    text-align: center;

}

.buttons-con .action-link-wrap a {
    background: #8BC63F;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
    font-family: Roboto;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
    background: #1e1e1e;;
    color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-5,
#Polygon-6,
#Polygon-7,
#Polygon-8 {
    animation: float 1s infinite ease-in-out alternate;
}

#design {
    animation-delay: .2s;
}
#Polygon-2 {
    animation-delay: .2s;
}

#Polygon-3 {
    animation-delay: .4s;
}

#Polygon-4 {
    animation-delay: .6s;
}

#Polygon-5 {
    animation-delay: .8s;
}
#Polygon-6 {
    animation-delay: .5s;
}

#Polygon-7 {
    animation-delay: .8s;
}

#Polygon-8 {
    animation-delay: .4s;
}
@keyframes float {
    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 800px) {
    svg {
       display:none;
    }

    .message-box {
        
        left: 50%;
        margin-top: -100px;
        margin-left: -190px;
        text-align: center;
    }
    #design{
        display: none;
    }
    
}

p {
    border-right: solid 3px #8BC63F;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: #1e1e1e;;
}

/* Animation */
p {
    animation: animated-text 4s steps(29, end) 1s 1 normal both,
        animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 325px;
    }

    from {
        length: 0;
    }

    to {
        length: 500px;
    }
}

/* cursor animations */

@keyframes animated-cursor {
    from {
        border-right-color: #8BC63F;
    }

    to {
        border-right-color: transparent;
    }
}
