/* master/general css */

body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}

ul {
	margin: 0;
	padding: 30px;
}

p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 24px;
}

a {
	text-decoration: none!important;
	color: #8BC63F;
}

.main1 a {
	background-color: #8BC63F;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	margin: auto;
}

.main a {
	border: 3px solid #8BC63F;
	border-radius: 50px;
	padding: 10px 15px;
	display: inline-block;
	color: #4a4a4a;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	margin: auto;
	width: 150px;
}

.main a:hover {
	color: white;
	transition: 0.5s all ease;
	cursor: pointer;
	box-shadow: inset 150px 0 0 0 #8BC63F;
}

.a:hover {
	opacity: 0.7;
	color: #759e40;
}

.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}

.section-heading .line-dec {
	width: 30px;
	height: 5px;
	background-color: #8BC63F;
}

.section-heading h1 {
	font-size: 22px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
}

/* Navigation style */

header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
	transition: 0.6s;
	background-color: #8BC63F;
}

header.sticky {
	background: #1e1e1e;
	padding: 15px 100px;
}

header .brand {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

header .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .menu a {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	margin: 0 30px;
	padding: 0 10px;
	border-radius: 20px;
	transition: 0.3s;
	transition-property: color;
}

header .menu a:hover {
	color: #000;
	background: #fff;
}

header .btn {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: none;
}

@media (max-width: 1060px) {
	header .btn {
		display: block;
	}
	header .menu {
		position: fixed;
		background: #8BC63F;
		flex-direction: column;
		min-width: 400px;
		height: 100vh;
		top: 0;
		right: -100%;
		padding: 80px 50px;
		transition: 0.5s;
		transition-property: right;
	}
	header .menu.active {
		right: 0;
	}
	header .menu .close-btn {
		position: absolute;
		top: 0;
		left: 0;
		margin: 25px;
	}
	header .menu a {
		display: block;
		font-size: 20px;
		margin: 20px;
		padding: 0 15px;
	}
}

@media (max-width: 630px) {
	.section-main h1 {
		font-size: 50px;
		line-height: 60px;
	}
}

/* side social icons style */

.box {
	position: fixed;
	text-align: center;
	padding: 10px;
	margin-left: 10px;
	margin-top: 165px;
	height: 250px;
	width: 15px;
	z-index: 999;
}

.box a {
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	line-height: 2;
	font-size: 40px;
}

.box p {
	color: #fff;
	position: relative;
	left: -10px;
}

.box p i {
	position: relative;
	left: 55px;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}

.single-box {
	margin-left: -200px;
	width: 230px;
	padding: 0;
	display: inline-table;
	height: 50px;
	transition: margin-left .5s;
	cursor: pointer;
}

.single-box:hover {
	margin-left: -30px;
}

/* footer syle */

.footer1 {
	text-align: center;
	background-color: #1e1e1e;
	margin: 0px;
	padding: 0px;
}

.footer1 ul {
	padding: 0px;
	margin: 0px;
}

.footer1 ul li {
	list-style: none;
	display: inline-block;
}

.footer1 .logo img {
	max-width: 100%;
	margin-top: 60px;
	margin-bottom: 40px;
}

.footer1 .footer1-menu {
	margin-bottom: 40px;
}

.footer1 .footer1-menu ul li {
	margin: 0px 15px;
}

.footer1 .footer1-menu a {
	font-size: 13px;
	color: #7a7a7a;
	text-transform: uppercase;
	transition: all 0.5s;
}

.footer1 .footer1-menu a:hover {
	color: #8BC63F;
	text-decoration: none;
}

.footer1 .social-icons {
	margin-bottom: 50px;
}

.footer1 .social-icons ul li {
	margin: 0px 10px;
}

.footer1 .social-icons a {
	width: 32px;
	height: 32px;
	color: #fff;
	background-color: #aaa;
	text-align: center;
	display: inline-block;
	line-height: 30px;
	border-radius: 50%;
	font-size: 13px;
	transition: all 0.5s;
}

.footer1 .social-icons a:hover {
	background-color: #8BC63F;
}

.image1 img, .image2 img, .image3 img, .image4 img {
	max-width: 100%;
	max-height: 100%;
}

.contact-page .right-content {
	margin-left: 3em;
}

/* Responsive Style */

@media (max-width: 991px) {
	.banner {
		border-top: none;
		margin-top: 0px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
		z-index: 99999;
		position: absolute;
		top: 96px;
		width: 100%;
		text-align: center;
		background-color: rgba(250, 250, 250, 0.95);
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	}
	.navbar-dark .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar-dark .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar-dark .navbar-nav .nav-link {
		padding: 15px 0px;
	}
	.featured-page #filters {
		text-align: right;
	}
	.single-product .right-content {
		margin-top: 30px;
	}
	.about-page .right-content {
		margin-top: 30px;
	}
	.contact-page .right-content {
		margin-top: 40em;
		margin-left: -22.5em;
	}
	.contact-page .right-content .col-md-6, .contact-page .right-content .col-md-12 {
		padding: 0px;
	}
	.featured-page {
		margin-top: 80px;
	}
	.about-page, .contact-page {
		margin-top: 0px;
	}
	.image1 img, .image2 img, .image3 img, .image4 img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media (max-width: 767px) {
	.subscribe-form .main-content form input.button {
		margin-top: 20px;
	}
	.featured-page #filters {
		margin-top: 15px;
		text-align: left;
	}
	.contact-page .right-content {
		margin-top: 3em;
		margin-left: 0;
	}
	.main .projects {
		margin-top: 10em;
	}
	.img-slider {
		max-width: 100%;
		max-height: 100%;
	}
	.img-slider .slide {
		max-width: 100%;
		max-height: 100%;
	}
	.img-slider .slide a img {
		max-height: 375px;
	}
}

.positioning {
	margin: 0 auto;
	width: 900px;
}

.positioning .leftColumn {
	width: 200px;
	height: 50px;
	background: pink;
	float: left;
}

.positioning .rightColumn {
	width: 650px;
	margin-left: 50px;
	height: 50px;
	background: green;
	float: left;
}

/*   Master/general css ends here starts here */

/*   Homepage starts here */

/* Banner Style -hero image for homepage*/

.banner {
	margin-top: 50px;
	background-image: url(../images/hero-img-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px;
	background-position: center center;
}

.banner .caption {
	background-color: rgba(250, 250, 250, 0.8);
	padding: 30px;
	max-width: 450px;
}

.banner .caption h2 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	color: #1e1e1e;
}

.banner .caption .line-dec {
	width: 30px;
	height: 5px;
	background-color: #8BC63F;
}

.banner .caption p {
	margin-top: 15px;
	margin-bottom: 20px;
}

/*   image slider for projects style */

.img-slider {
	position: relative;
	width: 800px;
	height: 500px;
	margin: auto;
	background: #1D212B;
}

.img-slider .slide {
	z-index: 1;
	position: absolute;
	width: 100%;
	clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
	clip-path: circle(150% at 0 50%);
	transition: 2s;
	transition-property: clip-path;
}

.img-slider .slide img {
	z-index: 1;
	width: 100%;
	height: 500px;
	border-radius: 5px;
}

.img-slider .slide .info {
	position: absolute;
	top: 0;
	padding: 15px 30px;
}

.img-slider .slide .info h2 {
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
}

.img-slider .slide .info p {
	color: #fff;
	background: rgba(0, 0, 0, 0.1);
	font-size: 16px;
	width: 60%;
	padding: 10px;
	border-radius: 4px;
}

.img-slider .navigation {
	z-index: 2;
	position: absolute;
	display: flex;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.img-slider .navigation .btn2 {
	background: rgba(255, 255, 255, 0.5);
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.img-slider .navigation .btn2.active {
	background: #8BC63F;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
	.img-slider {
		width: 600px;
		height: 375px;
	}
	.img-slider .slide .info {
		padding: 10px 25px;
	}
	.img-slider .slide .info h2 {
		font-size: 35px;
	}
	.img-slider .slide .info p {
		width: 70%;
		font-size: 15px;
	}
	.img-slider .navigation {
		bottom: 25px;
	}
	.img-slider .navigation .btn2 {
		width: 10px;
		height: 10px;
		margin: 8px;
	}
	.main .projects {
		margin-top: 10em;
	}
	.image1 img, .image2 img, .image3 img, .image4 img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media (max-width: 620px) {
	.img-slider {
		width: 400px;
		height: 250px;
	}
	.img-slider .slide .info {
		padding: 10px 20px;
	}
	.img-slider .slide .info h2 {
		font-size: 30px;
	}
	.img-slider .slide .info p {
		width: 80%;
		font-size: 13px;
	}
	.img-slider .navigation {
		bottom: 15px;
	}
	.img-slider .navigation .btn2 {
		width: 8px;
		height: 8px;
		margin: 6px;
	}
	.img-slider .slide a img {
		max-height: 250px;
	}
}

@media (max-width: 420px) {
	.img-slider {
		width: 320px;
		height: 200px;
	}
	.img-slider .slide .info {
		padding: 5px 10px;
	}
	.img-slider .slide .info h2 {
		font-size: 25px;
	}
	.img-slider .slide .info p {
		width: 90%;
		font-size: 11px;
	}
	.img-slider .navigation {
		bottom: 10px;
	}
	.img-slider .slide a img {
		max-height: 200px;
	}
}

.container1 {
	text-align: center;
}

.container2 {
	background-color: #8BC63F;
	color: white;
}

.container2 h6 {
	margin-top: 15px;
	margin-left: 200px;
}

/* page navigation Style */

.page-navigation ul {
	text-align: center;
	border-top: 1px solid #eee;
	padding: 30px 0px 0px 0px;
	margin: 0px 0px 80px 0px;
}

.page-navigation ul li {
	display: inline-block;
}

.page-navigation ul li a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 38px;
	border: 1px solid #eee;
	border-radius: 5px;
	font-weight: 700;
	color: #1e1e1e;
	font-size: 15px;
	text-decoration: none;
	transition: all 0.5s;
}

.page-navigation ul li a:hover, .page-navigation ul li.current-page a {
	background-color: #8BC63F;
	border-color: #8BC63F;
	color: #fff;
}

/* About Us Style */

.about-page {
	margin-top: 50px;
	margin-bottom: 80px;
}

.about-page .right-content h4 {
	font-size: 17px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
	color: #8BC63F;
}

.about-page .left-image img {
	max-width: 100%;
}

.about-page .right-content span {
	display: inline-block;
	margin-left: 8px;
}

.about-page .right-content span a i {
	transition: all 0.5s;
	background-color: #aaa;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}

.about-page .right-content .share {
	margin-top: 20px;
	border-top: 1px solid #eee;
	padding: 15px 0px;
}

.about-page .right-content h6 {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 400;
}

.about-page .right-content span a:hover i {
	background-color: #8BC63F;
}

#container {
	color: #999;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	display: block;
}

#flip {
	height: 50px;
	overflow: hidden;
}

#flip>div>div {
	color: #fff;
	padding: 4px 12px;
	height: 45px;
	margin-bottom: 45px;
	display: inline-block;
}

#flip div:first-child {
	animation: show 5s linear infinite;
}

#flip div div {
	background: #93e22c;
}

#flip div:first-child div {
	background: #5f8330;
}

#flip div:last-child div {
	background: #8BC63F;
}

@keyframes show {
	0% {
		margin-top: -240px;
	}
	15% {
		margin-top: -170px;
	}
	30% {
		margin-top: -170px;
	}
	45% {
		margin-top: -80px;
	}
	60% {
		margin-top: -80px;
	}
	75% {
		margin-top: 0px;
	}
	90% {
		margin-top: 0px;
	}
	100% {
		margin-top: 20px;
	}
}

/* Contact section Style */

.contact-page {
	margin-top: 50px;
	margin-bottom: 80px;
}

.contact-page .right-content input, .contact-page .right-content textarea {
	border-radius: 0px;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	margin-bottom: 30px;
}

.contact-page .right-content input {
	height: 44px;
	line-height: 44px;
}

.contact-page .right-content textarea {
	height: 200px;
	max-height: 280px;
}

.contact-page .right-content span {
	display: inline-block;
	margin-left: 8px;
}

.contact-page .right-content span a i {
	transition: all 0.5s;
	background-color: #aaa;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}

.contact-page .right-content .share {
	margin-top: 30px;
	border-top: 1px solid #eee;
	padding: 15px 0px;
}

.contact-page .right-content h6 {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 400;
}

.contact-page .right-content span a:hover i {
	background-color: #8BC63F;
}

.contact-page .right-content .button {
	cursor: pointer;
	background-color: #8BC63F;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: none;
}

/* projects section Style */

.image {
	position: relative;
	width: 350px;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 20px;
	transition: all 0.5s;
	height: 300px;
	margin-bottom: 70px;
	;
}

.image__img {
	display: block;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.image__img img {
	transition: all 1s ease;
}

.image__img:hover img {
	transform: scale(1.1, 1.1);
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}

.image__overlay--primary {
	background: #009578;
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding:5px;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
	text-align: center;
	color: #e6e6e6;
}

/* tiny-slider/carousel Style */

.slider-container {
	max-width: 1000px;
	padding: 2rem 3rem;
	background: #e6e6e6;
	margin: 2rem auto 0 auto;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
}

img {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

.my-slider {
	position: relative;
}

.slider-container {
	background-color: white;
	position: relative;
}

.slider-item {
	position: relative;
	background-color: white;
}

.tns-nav {
	text-align: center;
	margin: 10px 0;
	width: 30px;
	height: 30px;
}

.tns-nav.button {
	background: rgba(255, 255, 255, 0.5);
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.tns-nav-active.active {
	background: #8BC63F;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.controls {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 0;
	background-color: white;
	color: #8BC63F;
	;
	width: 100%;
	top: 50%;
	transform: translatey(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slidercard {
	text-align: center;
	margin: 0 auto;
	width: 280px;
	height: 500px;
	background: whitesmoke;
	border-radius: 5px;
	padding-bottom: .75rem;
	font-family: sans-serif;
	overflow: hidden;
	position: relative;
}

.slidercard .img {
	margin-bottom: .25rem;
	max-width: 100%;
	height: 300px;
}

.slidercard .h2 {
	margin: 0 0 .25rem;
}

.slidercard .p {
	margin: 0;
	padding: 0 .5rem;
}

/* Services section Style */

.image1 {
	position: relative;
	width: 350px;
	border-radius: 5px;
	background-color: #8BC63F;
	padding: 20px;
	transition: all 0.5s;
	height: 300px;
}

.image2 {
	position: relative;
	width: 350px;
	border-radius: 5px;
	background-color: #759e40;
	padding: 20px;
	transition: all 0.5s;
	height: 300px;
}

.image3 {
	position: relative;
	width: 350px;
	border-radius: 5px;
	background-color: #87b946;
	padding: 20px;
	transition: all 0.5s;
	height: 300px;
}

.image4 {
	position: relative;
	width: 350px;
	border-radius: 5px;
	background-color: #86ca2e;
	padding: 20px;
	transition: all 0.5s;
	height: 300px;
}

.image-grid {
	--gap: 16px;
	--num-cols: 4;
	--row-height: 370px;
	box-sizing: border-box;
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}
.image-grid h4 {
	text-align: center;
	padding-top: 10px;
	color:white;
}
.image-grid .image4 {
	width: 100%;
	height: 100%;
	text-align: center;
}

.image-grid .image1 {
	width: 100%;
	height: 100%;
	text-align: center;
}

.image-grid .image2 {
	width: 100%;
	height: 100%;
	text-align: center;
}

.image-grid .image3 {
	width: 100%;
	height: 100%;
	text-align: center;
}

.image-grid-col-2 {
	grid-column: span 2;
	text-align: center;
}

.image-grid-row-2 {
	grid-row: span 2;
	text-align: center;
}

/* Anything udner 1024px */

@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}

/* Homepage ends here */

/* Blogs Style */

.blog-post {
	width: 800px;
	height: 500px;
	padding: 100px;
	background-color: whitesmoke;
	box-shadow: 0 23px 50px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	border-radius: 13px;
	margin-bottom: 50px;
	transition: .5s all
}

.blog-post:hover .blog-post_img:before {
	background-position: 100% 100%;
	background: transparent 100%;
	transition: 0.8s all ease;
	z-index: -1;
	mix-blend-mode: hard-light;
	content: '';
}

.blog-post_img {
	min-width: 400px;
	width: 400px;
	height: 400px;
	display: block;
	transform: translateX(-128px);
	transition: .5s all;
}

.blog-post_img img {
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: .5;
	mix-blend-mode: screen;
	border-radius: 13px;
	transition: .5s all;
}

.blog-post_img::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #87b946 50%, #8BC63F 75%, #86ca2e 100%);
	background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #87b946 50%, #8BC63F 75%, #86ca2e 100%);
	background: linear-gradient(135deg, #000000 0%, #000000 25%, #87b946 50%, #8BC63F 75%, #86ca2e 100%);
	box-shadow: 8px 8px 50px 1px rgba(0, 0, 0, 0.3);
	border-radius: 13px;
	transition: .5s all
}

@media screen and (max-width:1400px) {
	.blog-post {
		margin-top: 100px;
		width: 750px;
		margin-bottom: 150px;
	}
	.blog-post_img {
		width: 30rem;
	}
}

@media screen and (max-width:1200px) {
	.blog-post {
		width: 550px;
	}
	.blog-post_img {
		width: 300px;
		transform: translate(0, -8rem);
	}
}

@media screen and (max-width:1000px) {
	.blog-post {
		width: 400px;
	}
	.blog-post_img {
		width: 300px;
	}
}

@media screen and (max-width:909px) {
	.blog-post {
		width: 30rem;
		height: 600px;
		margin: auto;
		margin-bottom: 100px;
	}
}

@media screen and (max-width:1200px) {
	.blog-post {
		padding: 2.5rem;
		flex-direction: column;
	}
	.blog-post_img {
		width: 30rem;
		transform: translate(0, -8rem);
	}
}

/* Blogs Page side navigation Style */

.side {
	width: 400px;
	float: right;
}

@media screen and (max-width:909px) {
	.side {
		float: none;
		margin: auto;
	}
}

.sidenav {
	width: 380px;
	top: 0;
	left: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-right: 50px;
	margin-bottom: 100px;
	padding-left: 50px;
	background-color: whitesmoke;
	box-shadow: 0 23px 50px rgba(0, 0, 0, 0.2);
}

.sidenav dd {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	color: #8BC63F;
	display: block;
}

.sidenav a:hover {
	color: #759e40;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.container3 {
	display: flex;
	justify-content: right;
	align-items: right;
	flex-direction: column;
	float: right;
	margin-bottom: 100px;
}

.container3 .card3 {
	position: relative;
	width: 410px;
	height: 200px;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 4px;
}

.container3 .card3:before {
	content: "";
	z-index: 99;
	position: absolute;
	top: -10px;
	left: 32px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: #e6e5e1;
}

.container3 .card3:after {
	content: "";
	z-index: 99;
	position: absolute;
	bottom: -10px;
	left: 32px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: #e6e5e1;
}

.container3 .card3 ul {
	z-index: 99;
	position: absolute;
	left: 39px;
	top: 5px;
	list-style-type: none;
}

.container3 .card3 ul li {
	width: 2px;
	height: 2px;
	border-radius: 2px;
	margin: 6px 0;
	background-color: #e6e5e1;
}

.container3 .card3 h2 {
	z-index: 99;
	font-family: "Poppins", sans-serif;
	position: absolute;
	bottom: 0;
	right: 130px;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
}

.container3 .card3 .fa-arrow-right {
	z-index: 100;
	position: absolute;
	right: 75px;
	bottom: 25px;
	font-size: 40px;
	cursor: pointer;
}

.container3 .card3 p {
	z-index: 99;
	position: absolute;
	top: 20px;
	right: 70px;
	color: #333;
	opacity: 0.7;
	font-size: 12px;
	letter-spacing: 1px;
	writing-mode: vertical-lr;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.container3 .card3 .pic {
	z-index: 100;
	width: 400px;
	height: 200px;
	background-image: url("/images/facebook.jpg");
	background-size: 100% 100%;
	filter: grayscale(100%);
}

.container3 .card3:hover i {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.container3 .card3 button {
	position: absolute;
	right: 14px;
	bottom: 14px;
	width: 30px;
	height: 30px;
	background-color: #71a133;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease;
	mix-blend-mode: hard-light;
}

.container3 .card3 button i {
	font-size: 3rem;
}

.container3 .card3:hover button {
	transform: scale(16.5);
}

.container3 .card3:hover p {
	color: #fff;
}

.container3 .card3:hover .pic {
	filter: grayscale(0);
}

.container3 .card4 .pic {
	background-image: url("/images/blog1.jpg");
}

.container3 .card4 button {
	background-color: #435f1d;
}

.dr {
	position: absolute;
	bottom: 16px;
	right: 16px;
	width: 100px;
}

/* Blogs Search Style */

.search__container {
	padding-top: 64px;
}

.search__title {
	font-size: 22px;
	font-weight: 900;
	text-align: center;
	color: #8BC63F;
}

.search__input {
	width: 380px;
	padding: 12px 24px;
	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 14px;
	line-height: 18px;
	color: #8BC63F;
	background-color: transparent;
	background-color: transparent;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 50px;
	border: 1px solid #575756;
	transition: all 250ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.search__input::placeholder {
	color: color(#575756 a(0.8));
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.search__input:hover, .search__input:focus {
	padding: 12px 0;
	outline: 0;
	border: 1px solid transparent;
	border-bottom: 1px solid #575756;
	border-radius: 0;
	background-position: 100% center;
}

/* hero image for blogs,projects, policy and terms and conditions pages */

.hero {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	backface-visibility: hidden;
	height: 650px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

@media screen and (min-width: 640px) {
	.hero {
		background-position: 50% 0;
	}
}

.hero:after {
	background-color: rgba(62, 135, 66, 0.5);
	bottom: 0;
	content: '';
	left: -2000%;
	position: absolute;
	right: -2000%;
	top: 0;
	z-index: 1;
}

.hero-container {
	margin-top: 80px;
	box-sizing: border-box;
	height: auto;
	padding: 30px 50px;
	position: relative;
	z-index: 2;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transition-duration: 1.2s;
	transition-duration: 1.2s;
}

@media screen and (min-width: 640px) {
	.hero-container {
		height: 100%;
	}
}

.hero-container p {
	color: white;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 6px;
	opacity: 0.8;
	text-transform: uppercase;
	text-align: center;
}

.hero-title {
	color: white;
	font-size: 17px;
	font-weight: 50;
	letter-spacing: 1px;
	margin: 5px 0;
	text-align: center;
	width: 100%;
}

@media screen and (min-width: 640px) {
	.hero-title {
		font-size: 10vw;
	}
}

/* honeycomb style for projects */

.honeycomb {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 0;
	transform: translateY(34.375px);
}

.honeycomb-cell {
	flex: 0 1 250px;
	max-width: 250px;
	height: 137.5px;
	margin: 65.4761904762px 12.5px 25px;
	position: relative;
	padding: 0.5em;
	text-align: center;
	z-index: 1;
}

.honeycomb-cell__title {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	hyphens: auto;
	visibility: hidden;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 1.75em;
}

.honeycomb-cell__title p {
	color: whitesmoke
}

.honeycomb-cell__title>small {
	font-weight: 300;
	margin-top: 0.25em;
}

.honeycomb-cell__image {
	object-fit: cover;
	object-position: center;
}

.honeycomb-cell::before, .honeycomb-cell::after {
	content: '';
}

.honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
	top: -50%;
	left: 0;
	width: 100%;
	height: 200%;
	display: block;
	position: absolute;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	z-index: -1;
}

.honeycomb-cell::before {
	background: #fff;
	transform: scale(1.055);
}

.honeycomb-cell::after {
	background: #000000;
	opacity: 0.5;
	transition: opacity 350ms;
}

.honeycomb-cell:hover .honeycomb-cell__title {
	visibility: visible;
}

.honeycomb-cell:hover::after {
	background: rgb(125, 168, 24);
	opacity: 0.5;
	transition: opacity 350ms;
}

@media only screen and (max-device-width:1300px) {
	.honeycomb-cell .honeycomb-cell__title {
		visibility: visible;
	}
	.honeycomb-cell::after {
		background: rgb(119, 160, 23);
		opacity: 0.5;
		transition: opacity 350ms;
	}
}

@media (max-width: 550px) {
	.honeycomb-cell {
		margin: 81.25px 25px;
	}
}

@media (min-width: 550px) and (max-width: 825px) {
	.honeycomb-cell:nth-child(3n) {
		margin-right: calc(50% - 125px);
		margin-left: calc(50% - 125px);
	}
	.honeycomb__placeholder:nth-child(3n+5) {
		display: block;
	}
}

@media (min-width: 825px) and (max-width: 1100px) {
	.honeycomb-cell:nth-child(5n+4) {
		margin-left: calc(50% - 275px);
	}
	.honeycomb-cell:nth-child(5n+5) {
		margin-right: calc(50% - 275px);
	}
	.honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n+3) {
		display: block;
	}
}

@media (min-width: 1100px) {
	.honeycomb-cell:nth-child(7n+5) {
		margin-left: calc(50% - 400px);
	}
	.honeycomb-cell:nth-child(7n+7), .honeycomb-cell:nth-child(7n+5):nth-last-child(2) {
		margin-right: calc(50% - 400px);
	}
	.honeycomb__placeholder:nth-child(7n+7), .honeycomb__placeholder:nth-child(7n+9), .honeycomb__placeholder:nth-child(7n+11) {
		display: block;
	}
}
