/*  form captcha */
.reload {
	font-family: "Lucida Sans Unicode";
}

.captcha {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}



/* Careers main page header*/
.perJob section, .careerMainHeader section {
	margin-bottom: 5em; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 40%;
}

.perJob img, .careerMainHeader img {
	margin-top: 10em; 
	height:150px;
}


/* Careers overview on homepage */
.careerHomeHeader {
	display: flex; 
	flex-direction: row;
}

.careerHomeHeader  img {
	height:20px; 
	width: 20px;
}

.careerHomeHeader h4 {
	margin: 10px;
}

.careerHomeDesc {
	padding-left: 31.5px; 
	margin: 20px;
}

/* More details button */
.main div {
	text-align: center;
}

/* Hompeage section icons */
#career img, #services img, #projects img, #blog img{
	height: 100px;
	width: 100px;
}

.section-heading h4 {
	margin-left: 10em; 
	text-align: center;
}

.section-heading p {
	float: left; 
	text-align: center;
}

/* .section-heading p img {
	height: 20px;
	width: 20px;
} */